<div class="my_class_div main_div">
  <div *ngIf="!groups || groups.length <= 0">
    <h1>
      אינך משוייך כרגע לאף כיתה
    </h1>
  </div>
  <mat-card class="card_all" *ngIf="groups && groups.length > 0">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>
          group
        </mat-icon>
        כל התלמידים
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="div_card_student">
        <div class="inner_div" *ngFor="let u of students">
          <app-card-student [user]=u></app-card-student>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


</div>