<div class="my_class_div main_div">
  <div *ngIf="!groups || groups.length <= 0">
    <h1>
      אינך משוייך כרגע לאף כיתה
    </h1>
  </div>
  <mat-card class="card_all" *ngIf="groups && groups.length > 0">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>
          group
        </mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let g of groups; let i = index">
          <ng-template mat-tab-label>
            <mat-icon>group</mat-icon> {{i}}
          </ng-template>
          <!-- <h1>Terrible sushi restaurants</h1> -->
          <div class="div_card_student">
            <div class="inner_div" *ngFor="let u of getStudentsByGroup(i)">
              <app-card-student [showSwap]=true (swap)="swap($event)" [user]=u></app-card-student>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>


</div>