.spacer{
    flex: 1 1 auto;
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% !important;
}

.main_admin{
    padding: 0 10%;
    // background: linear-gradient(to bottom, rgba($color: #cee49b, $alpha: .4), rgba($color: #99b161, $alpha: .4))
}