.side_navbar{
    height: 100%;
    .avatar img{
        width: 52px !important;
    }
    .buttons{
        transition: display 1s;
        width: 100%;
        background: #fff;
        button{
            text-align: start;
        }
    }
    
}
