<nav class="side_navbar" fxLayout=column fxLayoutAlign="start start">

  <div fxFlex=15 class="sidebar-header d-flex align-items-center" (click)="open = !open">
    <div class="avatar">
      <img src="/assets/person.png" class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h4">{{auth.displayName}}</h1>
      <p>{{title}}</p>
    </div>
  </div>
  <div [fxHide.xs]="open" class="buttons" fxFlex=80 fxLayout=column fxLayoutAlign="start stretch">
    <button *ngFor="let item of navService.items" (click)="navService.select(item)" [style.background]="item.isSelect ? '#eef5f9' : 'white'"
      [routerLink]="item.url" mat-button class="list-unstyled">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.text}}
    </button>
  </div>
</nav>