<div class="conversation_div">

  <div class="messages">
    <div class="message">
      <div>
        זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
      <div>
        זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
      <div>
        זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
      <div>
        זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
      <div>
        זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
      <div>
        זאת הודעת דוגמה זאת הודעת דוגמה זאת הודעת דוגמה זאת הודעת דוגמה
      </div>
      <div>
        18:22
      </div>
    </div>

    <div class="message">
        <div>
          זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  
      <div class="message">
        <div>
          זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  
      <div class="message">
        <div>
          זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  
      <div class="message">
        <div>
          זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  
      <div class="message">
        <div>
          זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  
      <div class="message">
        <div>
          זאת הודעת דוגמה זאת הודעת דוגמה זאת הודעת דוגמה זאת הודעת דוגמה
        </div>
        <div>
          18:22
        </div>
      </div>
  </div>

  <div class="send_div">
    <input placeholder="message">
    <button mat-raised-button color="primary">
      שלח
    </button>
  </div>
</div>