.conversation_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    .messages{
        display: grid;
        flex-direction: column;
        justify-content: flex-end;
        overflow: scroll;
        height: 85%;
        .message{
            display: inline-table;
            flex-direction: row;
            border: 1px solid #cacaca;
            background: #cacaca;
            max-width: 60%;
            justify-content: space-between;
            border-radius: 10px;
            margin: 12px;
            padding: 8px;
            :last-child{
                font-size: 60%;
            }
        }
    }
    .send_div{
        display: flex;
        flex-direction: row;
        height: 10%;
        input{
            width: 80%;
            
        }
        button{
            width: 20%;
            border-radius: 10px;
        }
    }
}