.conversation_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    .messages{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: scroll;
        height: 85%;
        width: 100%;
        // padding: 40px;
        .message{
            display: block;
            flex-direction: row;
            .inner_message{
                width: 100%;
                justify-content: flex-start;
                display: flex;
                .buble{
                    border: 1px solid #cacaca;
                    background: #cacaca;
                    width: 60%;
                    justify-content: space-between;
                    border-radius: 10px;
                    margin: 12px;
                    padding: 8px;
                    box-sizing: border-box;
                    min-width: 30%;
                    text-align: right;
                    :last-child{
                        font-size: 60%;
                    }
                }
                
            }
            .right{

                justify-content: flex-end;
            }
        }
    }
    .send_div{
        display: flex;
        flex-direction: row;
        height: 10%;
        mat-form-field{
            width: 80%;
            
        }
        button{
            width: 10%;
            border-radius: 10px;
            mat-icon{
                transform: rotate(180deg);
            }
            
        }
    }
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder{
    text-align: right;
}