.header{
    .mat-icon-button {
        margin: 0 8px !important;
    }
    
    nav.navbar{
        padding-bottom: 0 !important;
        padding-top: 0 !important; 
    }
    
    .search-form-field{
        margin: 0 20px;
    }
    
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder{
        color: white;
    }
    
    .badge{
        position: absolute;
        z-index: 9;
    }
    
    
}


.logo{
    img{
        height: 56px;
    }
}

@media screen and (max-width: 500px){
    .header{
        width: 100%;
        overflow: hidden;
    }
    .search-form-field{
        visibility: hidden;
    }
}