<header class="header">
  <nav class="navbar">

    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <!-- Navbar Header-->
        <div class="navbar-header">
          <!-- Navbar Brand -->
          <a class="navbar-brand">
            <div class="brand-text brand-big logo">
              <!-- <span>Any Match </span>
              <strong>Dashboard</strong> -->
              <img src="/assets/logo.png">
            </div>
            <div class="brand-text brand-small logo">
              <img src="/assets/logo.png">
            </div>
          </a>

        </div>
        <!-- Navbar Menu -->
        <div class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
          <!-- Search-->

          <mat-form-field class="search-form-field">
            <input matInput type="text" placeholder="חיפוש" [(ngModel)]="searchValue" (keyup)="search.emit(searchValue)" />
            <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="search.emit(searchValue)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>


          <div>
            <span class="badge bg-orange" *ngIf="newMessage != 0">{{newMessage}}</span>
            <button mat-icon-button class="header-button" [matMenuTriggerFor]="menuMessage">
              <mat-icon>message</mat-icon>
            </button>
          </div>
          <mat-menu #menuMessage="matMenu">
            <app-contact *ngFor="let c of msgService.recent | async" [name]="getName(c)" [time]="c.messages[0]?.date" [lastMessage]="c.messages[0]?.text"
              (open)="open(c)" [routerLink]="authService.permission != 'student' ? 'admin/messages' : 'client/messages'">
            </app-contact>
            <button mat-menu-item [routerLink]="authService.permission != 'student' ? 'admin/messages' : 'client/messages'">
              <mat-icon>notifications_off</mat-icon>
              <strong>כל ההודעות</strong>
            </button>
          </mat-menu>



          <!-- Logout    -->

          <button mat-icon-button class="header-button" [routerLink]="'/login'">התנתק
            <mat-icon>exit_to_app</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </nav>
</header>