.page_header{
        padding: 28px;
        .section{
            padding: 16px;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            .number{
                font-weight: bold;
                font-size: 2em;
            }
        }
        :last-child, :first-child{
            border: none
        }
    
    .circle_icon{
        padding: 8px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        color: white;
    }
}