<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">

        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <img [ngClass]="{move : move, not_move: !move}" src="/assets/connect.png">
                <h1>A ny Match</h1>
              </div>
              <p>Connecting Pepole To Optimal Group</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">



              <form id="login-form" [formGroup]="form">

                <div formGroupName="login">
                  <mat-form-field>
                    <input matInput type="text" formControlName=username placeholder="שם משתמש">
                  </mat-form-field>
                  <div formGroupName="pass">
                    <mat-form-field>
                      <input matInput type="password" formControlName=password placeholder="סיסמה">
                    </mat-form-field>
                    <mat-form-field *ngIf="createNewSchool">
                      <input matInput type="password" formControlName=verifyPassword placeholder="אימות סיסמה">
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="createNewSchool" formGroupName="newSchool">
                  <mat-form-field>
                    <input matInput type="text" formControlName=name placeholder="שם בית הספר">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName=code placeholder="קוד בית הספר">
                  </mat-form-field>
                </div>

                <mat-spinner [diameter]=24 *ngIf="showProgress" [strokeWidth]="5"></mat-spinner>
                <button *ngIf="!createNewSchool && !showProgress" id="login" class="btn btn-primary" (click)="login()">Login</button>
                <button *ngIf="createNewSchool && !showProgress" mat-raised-button color=primary (click)="signup()">Sign Up</button>


              </form>



              <a href="#" class="forgot-pass">Forgot Password?</a>
              <br>
              <small *ngIf="!createNewSchool">Do not have an account? </small>
              <button *ngIf="!createNewSchool" class="signup" class="btn btn-primary" (click)="changeCreateSchool()">Create new school</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>