<div class="app_main">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form">
  
          <div formGroupName="login">
            <h3>{{title}}</h3>
            <mat-form-field>
              <input matInput type="text" formControlName=username placeholder="שם משתמש">
            </mat-form-field>
            <div formGroupName="pass">
              <mat-form-field>
                <input matInput type="password" formControlName=password placeholder="סיסמה">
              </mat-form-field>
              <mat-form-field *ngIf="createNewSchool">
                <input matInput type="password" formControlName=verifyPassword placeholder="אימות סיסמה">
              </mat-form-field>
            </div>
          </div>
  
          <div *ngIf="createNewSchool" formGroupName="newSchool">
            <h3>יצירת בית ספר</h3>
            <mat-form-field>
              <input matInput type="text" formControlName=name placeholder="שם בית הספר">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName=code placeholder="קוד בית הספר">
            </mat-form-field>
          </div>
  
        </form>
  
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="!createNewSchool" mat-button color=primary (click)="changeCreateSchool()">יצירת בית ספר</button>
        <button *ngIf="!createNewSchool" mat-button color=primary (click)="login()">כניסה</button>
        <button *ngIf="createNewSchool" mat-button color=primary (click)="signup()">הרשמה</button>
        <button mat-button color=secondary (click)="clear()">נקה</button>
      </mat-card-actions>
    </mat-card>
  </div>