<div fxFill fxLayout='row' fxLayoutAlign="start start">
  <mat-card class="section_login" fxFlex="40" fxLayout=column fxLayoutAlign="space-between stretch">
    <mat-card-header class="header" fxFlex=20 fxLayout=column fxLayoutAlign="center center">
      <div fxFlex=60 class="img">
        <img src="/assets/logo.png">
      </div>
      <h1 fxFlex=40>
        Sign Up or Login
      </h1>
    </mat-card-header>

    <mat-card-content fxFlex=55 fxLayout=column fxLayoutAlign="center center">
      <form fxFill fxLayout=column fxLayoutAlign="center center" id="login-form" [formGroup]="form">

        <div fxFlex formGroupName="login">
          <mat-form-field>
            <input matInput type="text" formControlName=username placeholder="שם משתמש">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <div fxFlex formGroupName="pass">
            <mat-form-field>
              <input matInput type="password" formControlName=password placeholder="סיסמה">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field *ngIf="createNewSchool">
              <input matInput type="password" formControlName=verifyPassword placeholder="אימות סיסמה">
              <mat-icon matSuffix>done_all</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex *ngIf="createNewSchool" formGroupName="newSchool">
          <mat-form-field>
            <input matInput type="text" formControlName=name placeholder="שם בית הספר">
            <mat-icon matSuffix>account_balance</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName=code placeholder="קוד בית הספר">
            <mat-icon matSuffix>label</mat-icon>
          </mat-form-field>
        </div>

        <mat-spinner [diameter]=24 *ngIf="showProgress" [strokeWidth]="5"></mat-spinner>

      </form>
      <mat-checkbox fxFlex=5 color=primary class="remember_me" [(ngModel)]=rememberMe>
        זכור אותי
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions fxFlex=20 fxLayout=row fxLayoutAlign="center center">
      <button *ngIf="!createNewSchool && !showProgress" mat-raised-button color=primary (click)="login()">כניסה</button>
      <button *ngIf="createNewSchool && !showProgress" mat-raised-button color=primary (click)="signup()">הרשמה</button>
      <button *ngIf="!createNewSchool" mat-raised-button color=primary (click)="changeCreateSchool()">יצירת בית ספר חדש</button>
    </mat-card-actions>
  </mat-card>

  <div class="background_login" fxFlex="60" fxLayout=column fxLayoutAlign="space-between stretch">
    <div fxFill></div>
    <div class="slogen">
      <h2>
        חלוקת תלמידים לכיתות ע"פ העדפות בקלות
      </h2>
    </div>
  </div>
</div>

<!-- <div class="login_page">
  <mat-card class="login_card">
    <mat-card-header class="header">
      <div class="img">
          <img src="/assets/logo.png">
      </div>
      
    </mat-card-header>
    <mat-card-content>
      <form id="login-form" [formGroup]="form">

        <div formGroupName="login">
          <mat-form-field>
            <input matInput type="text" formControlName=username placeholder="שם משתמש">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <div formGroupName="pass">
            <mat-form-field>
              <input matInput type="password" formControlName=password placeholder="סיסמה">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field *ngIf="createNewSchool">
              <input matInput type="password" formControlName=verifyPassword placeholder="אימות סיסמה">
              <mat-icon matSuffix>done_all</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="createNewSchool" formGroupName="newSchool">
          <mat-form-field>
            <input matInput type="text" formControlName=name placeholder="שם בית הספר">
            <mat-icon matSuffix>account_balance</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName=code placeholder="קוד בית הספר">
            <mat-icon matSuffix>label</mat-icon>
          </mat-form-field>
        </div>
        
        <mat-spinner [diameter]=24 *ngIf="showProgress" [strokeWidth]="5"></mat-spinner>

      </form>
      <mat-checkbox color=primary class="remember_me" [(ngModel)]=rememberMe>
          זכור אותי
        </mat-checkbox>
    </mat-card-content>
    <mat-card-actions class="action">
      <button *ngIf="!createNewSchool && !showProgress" mat-raised-button color=primary (click)="login()">כניסה</button>
      <button *ngIf="createNewSchool && !showProgress" mat-raised-button color=primary (click)="signup()">הרשמה</button>
      <button *ngIf="!createNewSchool" mat-raised-button color=primary (click)="changeCreateSchool()">יצירת בית ספר חדש</button>
    </mat-card-actions>
  </mat-card>
</div> -->