<mat-card class="card-student">
  <div class="img">
      <img width="100%" matTooltip="תמונת התלמיד" src="http://excadetsforum.com/profile_images/no_img.png" />
    <i *ngIf="user?.isLogin" matTooltip="משתמש ביצע כניסה ראשונית" class="material-icons">verified_user</i>
  </div>
  
  <div class="data">
    <div class="title">
      <div>{{user.fname}} {{user.lname}}</div>
      <div>{{user.username}}</div>
    </div>
    <div class="prefer">
      <div class="positive_prefer">
        <div *ngIf="user.positivePrefer?.length > 0">
          נבחרו תלמידים רצויים
        </div>
      </div>
      <div class="negative_prefer">
        <div *ngIf="user.negativePrefer?.length > 0">
          נבחרו תלמידים לא רצויים
        </div>
      </div>
    </div>
  </div>
</mat-card>