<mat-card class="card-student" [style.background-color]="color ? color : 'white'">
  <mat-card-header>
    <mat-card-title>
      <img width="24px" matTooltip="תמונת התלמיד" src="http://excadetsforum.com/profile_images/no_img.png" /> {{user.fname}} {{user.lname}} {{user.username}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="prefer">
      <div class="positive_prefer" matTooltip="התלמיד בחר העדפות חיוביות" *ngIf="user.positivePrefer?.length > 0">

      </div>

      <div class="negative_prefer" matTooltip="התלמיד בחר העדפות שליליות" *ngIf="user.negativePrefer?.length > 0">


      </div>
      <i *ngIf="user?.isLogin" matTooltip="משתמש ביצע כניסה ראשונית" class="material-icons">verified_user</i>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="showActions">
    <button mat-raised-button (click)="open.emit(user)">
      <mat-icon>
        open_in_new
      </mat-icon>
      פתח
    </button>
  </mat-card-actions>
</mat-card>