.card-student{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    .img{
        width: 20%;
    }
    .data{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;

        .prefer{
            .positive_prefer, .negative_prefer{
                width: 8px;
                height: 8px;
                border-radius: 100%;
                margin: 2px;
            }
            .positive_prefer{
                background-color: green;
                
            }
            .negative_prefer{
                background-color: red;
            }
        }
    }
}