.messages_div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: aliceblue;
    .members{
        width: 24%;
        padding: 1%;
        display: flex;
        border-left: 1px solid rgb(160, 160, 160);
        flex-direction: column;
        justify-content: flex-start;
        overflow: scroll;
    }
    .messages{
        width: 75%;
    }
    
}