<div class="messages_div">
  <div class="members">
    <app-contact *ngFor="let c of con" [name]="getName(c)" [time]="c.messages[0]?.date" [lastMessage]="c.messages[0]?.text"
      (open)="messageService.currentConversation = c; messageService.conversationOpen(c._id)"></app-contact>




  </div>
  <div class="messages">
    <app-message *ngIf="messageService.currentConversation" [conversation]=messageService.currentConversation>
      <!-- pass conversation -->
    </app-message>
  </div>
</div>