.dashboard_client{
    .two_column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        section{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 28px;
            box-sizing: content-box;
            mat-card{
                margin: 14px 0;
                direction: rtl;
                .prefers{
                    display: flex;
                    flex-wrap: wrap;
                    .inner_div{
                        max-width: 100px;
                        margin: 16px;
                    }
                }
                .timer_data{
                    text-align: center;
                }
            }
        }
    }
}

.send_icon{
    transform: rotate(180deg);
}
.last_feedback_content{
    
    .feedback{
        padding: 8px;
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba($color: #9b9ba5, $alpha: .6);
        border-bottom: 1px solid white;
    }
    .odd{
        background-color: rgba($color: #9b9ba5, $alpha: .3);
    }
    :first-child{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    :last-child{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

