.app_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    mat-card{
        width: 50vw;
        height: 70vh;
        mat-form-field{
            display: block;
        }
        mat-card-actions{
            text-align: center;
        }
    }

    h3{
        border-bottom: 3px solid black;
        margin-top: 24x;
    }
}


@media screen and (max-width: 500px){
    mat-card{
        width: 94vw;
        margin: 0 3vw;
        height: 100vh;
        mat-form-field{
            display: block;
        }
    }
}