.layer{
    padding: 8px;
    display: flex;
    flex-direction: column;

    .div_action{
        padding: 16px;
        span{
            position: relative;
            overflow: hidden;
            .btn_upload{
                visibility: hidden;
                position: absolute; 
                overflow: hidden; 
                width: 0px; 
                height:0px;
                border:none;
                margin:0; 
                padding:0;
            }
        }
    }
    mat-card-content{
        display: flex;
    }
    
    

    .div_card_student{
        
        margin: 8px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: stretch;
        .inner_div{
            margin: 8px;
            width: 17vw;
        }
    }

    .grapg_div{
        width: 100%;
    }
}

.wait{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner_div{
    width: 100%;
    overflow-x: scroll;
    table{
        width: 100%;
        font-size: 30px;
        thead{
            th{
                font-weight: bold;
            }
        }
        tr{
            height: 40px;
            // border-top: 1px solid #acacac;
        }
    }
}