<div class="layer">
  <app-pages-header [items]=headerCards></app-pages-header>
  <div class="div_action">
    <button mat-mini-fab matTooltip="הוסף תלמיד חדש" (click)="changeFlag()">
      <mat-icon>
        add
      </mat-icon>
    </button>

    <button mat-mini-fab (click)="fileInput.click()" matTooltip="העלה קובץ xls">
      <mat-icon>
        file_upload
      </mat-icon>
      <span>
        <input class="btn_upload" type="file" #fileInput (change)="fileChange($event)" accept=".xlsx">
      </span>
    </button>

    <button mat-mini-fab matTooltip="חלק קבוצה זו" (click)="startMatch()">
      <mat-icon>
        group_work
      </mat-icon>
    </button>
  </div>

  <mat-card class="layer_data" *ngIf="addStudentFlag">

    <div>
      <!-- <button mat-raised-button color="primary" (click)="changeFlag()">{{addStudentButtonText}}</button> -->
      <span [formGroup]="form">
        <mat-form-field>
          <input matInput text="text" formControlName="username" #sname placeholder="ת.ז" />
        </mat-form-field>
        <mat-form-field>
          <input matInput text="text" formControlName="fname" #fname placeholder="שם פרטי" />
        </mat-form-field>
        <mat-form-field>
          <input matInput text="text" formControlName="lname" #lname placeholder="שם משפחה" />
        </mat-form-field>

        <button *ngIf="sname.value" mat-raised-button color="primary" (click)="addStudent(sname.value, fname.value, lname.value)">הוסף</button>

      </span>
    </div>
  </mat-card>

  <h2 class="title">
    גרף
  </h2>
  <div>
    <app-graph [graph]=graph></app-graph>
  </div>
  <h2 class="title">
    תלמידים בשכבה
  </h2>
  <div class="div_card_student">
    <div class="inner_div" *ngFor="let u of students">
      <app-card-student [user]=u [color]="colors[u.group]"></app-card-student>
    </div>
  </div>
</div>