<div class="layer">
  <app-pages-header [items]=headerCards></app-pages-header>
  <div class="div_action">
    <button mat-mini-fab matTooltip="הוסף תלמיד חדש" (click)="changeFlag()">
      <mat-icon>
        add
      </mat-icon>
    </button>

    <button mat-mini-fab matTooltip="הוסף אחראי שיבוץ חדש" (click)="addNewCharge()">
      <mat-icon>
        add
      </mat-icon>
    </button>

    <button mat-mini-fab (click)="fileInput.click()" matTooltip="העלה קובץ xls">
      <mat-icon>
        file_upload
      </mat-icon>
      <span>
        <input class="btn_upload" type="file" #fileInput (change)="fileChange($event)" accept=".xlsx">
      </span>
    </button>

    <button mat-mini-fab matTooltip="חלק קבוצה זו" (click)="startMatch()">
      <mat-icon>
        group_work
      </mat-icon>
    </button>

    <button mat-mini-fab matTooltip="שמור שיבוץ זה" *ngIf="hasGraph" (click)="saveMatch()">
      <mat-icon>
        save
      </mat-icon>
    </button>
  </div>

  <mat-card class="layer_data" *ngIf="addStudentFlag">

    <div>
      <!-- <button mat-raised-button color="primary" (click)="changeFlag()">{{addStudentButtonText}}</button> -->
      <span [formGroup]="form">
        <mat-form-field>
          <input matInput text="text" formControlName="username" #sname placeholder="ת.ז" />
        </mat-form-field>
        <mat-form-field>
          <input matInput text="text" formControlName="fname" #fname placeholder="שם פרטי" />
        </mat-form-field>
        <mat-form-field>
          <input matInput text="text" formControlName="lname" #lname placeholder="שם משפחה" />
        </mat-form-field>

        <button *ngIf="sname.value" mat-raised-button color="primary" (click)="addStudent(sname.value, fname.value, lname.value)">הוסף</button>

      </span>
    </div>
  </mat-card>

  <!-- <mat-card *ngIf="hasGraph"> -->


  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>
          group
        </mat-icon>
        כל התלמידים
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="div_card_student">
        <div class="inner_div" *ngFor="let u of students">
          <app-card-student [showActions]=true [user]=u [color]="colors[u.group]" (open)="openStudent($event)"></app-card-student>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>
          show_chart
        </mat-icon>
        גרף
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="grapg_div">
        <app-graph [graph]=graph></app-graph>
      </div>
    </mat-card-content>
  </mat-card>



</div>