.layer{
    padding: 8px;
    display: flex;
    flex-direction: column;
    mat-card-content{
        display: flex;
    }
    
    

    .div_card_student{
        
        margin: 8px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: stretch;
        .inner_div{
            margin: 8px;
            width: 17vw;
        }
    }
}