<div class="dashboard">

  <app-pages-header [items]=headerCards></app-pages-header>

  <div class="two_column">
    <section>
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <mat-icon>
              timer
            </mat-icon>
            זמן שנותר עד נעילת השיבוץ הקרוב
          </mat-card-title>
        </mat-card-header>

      </mat-card>

      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <mat-icon>
              show_chart
            </mat-icon>
            פידבק מתלמידים שעברו שיבוץ
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas baseChart 
          [data]="authService.feedback ? authService.feedback : [] " 
          [labels]="[0, 1,2,3,4]" 
          [options]="{ responsive: true }" 
          [chartType]="'bar'" 
          [colors]="[{
            backgroundColor:'#9b9ba5'
          }]"
          [labels]="['']"
          ></canvas>
        </mat-card-content>
      </mat-card>

      <!-- 
            
       -->
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <mat-icon>
              notifications
            </mat-icon>
            התראות
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          בפיתוח
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              help
            </mat-icon>
            עזרה וטיפים
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          בפיתוח
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              info
            </mat-icon>
            פעולות אחרונות
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="last_operation_content">
          <div class="operation" [class.odd]="i%2 != 0" *ngFor="let o of authService.lastOperation; let i = index">
            <mat-icon>
              {{o.icon}}
            </mat-icon>
            <span>
              {{o.text}}
            </span>
          </div>
        </mat-card-content>

      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              message
            </mat-icon>
            הודעות אחרונות
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          בפיתוח
        </mat-card-content>
      </mat-card>
    </section>
  </div>

</div>