<div class="dashboard">
  <div class="line statistic">
    <mat-card>
      <mat-card-header>
        <mat-card-title>מידע על בית הספר</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <span class="major">שם</span>
          <span> {{schoolService.school?.name}}</span>
        </div>
        <div>
          <span class="major">קוד מוסד</span>
          <span>{{schoolService.school?.code}}</span>
        </div>
        <!-- {{schoolService.school | json}} -->
        <div>
          <span class="major">מספר הסטודנטים</span>
          <span>{{userService.num}}</span>
        </div>
        <div></div>
        <div>
          <span class="major">מספר שכבות</span>
          <span>{{layerService.num}}</span>
        </div>
        <div>
          <span class="major">מספר הכיתות</span>
          <span>0</span>
        </div>
        <div>
          <span class="major">מספר התאמות</span>
          <span>0</span>
        </div>
      </mat-card-content>
      <div>
        
        <button mat-raised-button color="primary" matTooltip="הוסף שכבה חדשה" (click)="addLayer()">הוסף שכבה</button>
      </div>
    </mat-card>
  </div>



  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" >

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> מספר </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> שם </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="class_rooms">
        <mat-header-cell *matHeaderCellDef> מספר כיתות </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.classes ? element.classes : 0}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="students">
        <mat-header-cell *matHeaderCellDef> מספר תלמידים </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{userService.getUsersByLayer(element?._id).length}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>
    
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </div>


</div>