<div class="dashboard">

  <app-pages-header [items]=headerCards></app-pages-header>

  <div class="two_column">
    <section>
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <mat-icon>
              timer
            </mat-icon>
            זמן שנותר עד נעילת השיבוץ הקרוב
          </mat-card-title>
        </mat-card-header>

      </mat-card>
      <mat-card>
        <mat-card-header>

          <mat-card-title>
            <mat-icon>
              notifications
            </mat-icon>
            התראות
          </mat-card-title>
        </mat-card-header>

      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              help
            </mat-icon>
            עזרה וטיפים
          </mat-card-title>
        </mat-card-header>

      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              info
            </mat-icon>
            פעולות אחרונות
          </mat-card-title>
        </mat-card-header>

      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <mat-icon>
              message
            </mat-icon>
            הודעות אחרונות
          </mat-card-title>
        </mat-card-header>

      </mat-card>
    </section>
  </div>

</div>