<div class="div_layout" fxLayout=column fxLayoutAlign="start stretch">
    <app-header 
        fxFlex=10vh
        (search)="navService.search($event)"
        [newMessage]="msgService.numOfNewMessage | async"></app-header>
    <div class="main_layout" fxFlex=90vh fxLayout.xs=column fxLayout=row fxLayoutAlign="start stretch">
        <app-nav fxFlex=15 fxFlex.xs=5 class="app-nav"></app-nav>
        <div fxFlex=85 fxFlex.xs=100 fxLayout=column fxLayoutAlign="start space-between" class="content" fxLayoutWrap=nowrap>
            <div fxFill class="content-inner">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>