.layers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .layers_card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        
        .layer_card{
            min-width: 23%;
            margin: 1%;
        }
    }
}