/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0;
    direction: rtl;
    font-family: "Calibri";
}

::-webkit-scrollbar{
    visibility: hidden;
    display: none;
}

.major{
    font-weight: bold;
    color: #afafaf;
    margin: 0 8px;
}

input{
    text-align: right;
}