.students{


    .div_card_student{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .inner_div{
            width: 30%;
            margin: 1.5%;
        }
    }
}